.admonition-title.rtl {
    border-left: 0rem;
    padding: 0.4rem 2rem 0.4rem 0.6rem;
}


.admonition.rtl {
    border-left: 0rem;
    border-right-style: solid;
    border-right-width: 4px;
}


.admonition-title::before.rtl {
    left: 0rem;
    right: 0.2rem;
    border-right-style: solid;
    border-right-width: 4px;
}



/* style the tooltip */
#tooltip-wrapper {
    background: white;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    width: 80%;
    max-width: 400px;
    height: auto;
    max-height: 300px;
    font-size: 0.8em;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    opacity: 0;
    transition: opacity 100ms;
    unicode-bidi: plaintext;
    overflow-y: scroll;
  }
  
  #tooltip-wrapper:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    unicode-bidi: plaintext;
    height: 75px;
  }
  
  /* style the internal links */
  content a.internal-link {
    border-color: #8b88e6;
    background-color: #efefff;
  }

  