---
layout: default
---
<article>
  <h2>Tags</h2>
{% comment %}map, flatten and sort{% endcomment %}
{% assign tags =  site.notes | map: 'tags' | join: ','  | split: ',' | sort %}
{% assign previousTag = "" %}
{% assign counter = 0 %}

{% for currentTag in tags %}

  {% comment %}first loop : initializing previousTag{% endcomment %}
  {% if previousTag == "" %}
    {% assign previousTag = currentTag %}
  {% endif %}

  {% if currentTag == previousTag %}
    {% assign counter = counter | plus: 1 %}
  {% else %}
  <h4>
    <a name="{{previousTag| downcase | replace:" ","-" }}"></a>
    <a href="#{{ previousTag| downcase | replace:" ","-" }}">  {{ previousTag }} ({{ counter }})</a>
  </h4>

  <ul>
   
    {% for note in site.notes %}
    {% if note.tags contains previousTag %}
    <li>{% include note_line_item.html note=note %}</li>
    {% endif %}
    {% endfor %}
  </ul>
    {% assign counter = 1 %}
  {% endif %}

  {% comment %}last loop : flushing what's left to print{% endcomment %}
  {% if forloop.last %}
  
    <h4>
      <a name="{{currentTag| downcase | replace:" ","-" }}"></a>
      <a href="#{{ currentTag| downcase | replace:" ","-" }}">  {{ currentTag }} ({{ counter }})</a>
    </h4>
  
    <ul>
     
      {% for note in site.notes %}
      {% if note.tags contains currentTag %}
      <li>{% include note_line_item.html note=note %}</li>
      {% endif %}
      {% endfor %}
    </ul>
  
  {% endif %}

  {% assign previousTag = currentTag %}

{% endfor %}
</article>

